div.wrap {
    height:100%;
    overflow:hidden;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 25px;
    box-shadow: 20px 20px 34px rgba, (0,0 0,0.03);
    padding: 10px;
    width: 500px;
    
   
  
}

img :hover img {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1); 
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 26px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width:100%
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
}
.content h1{
    font-size: 80px;
    margin-top: 80px;
}

h1{
    color: #ddd;
    margin: 100px;
}